<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
   
  <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Home</a></li>
        <li><a href="newblooddonor">NewDonor</a></li>
        <li><a href="SearchDonor">SearchDonor</a></li>
      </ul>
    </div>
</nav>
<div class="jumbotron text-center background-color: white">
  <h1><span style="color:blue">BambeeQ</span></h1>
  <p><span style="color:red"><b>Blood Bank</b></span></p>
 </div>
<div class="image text-center">
<img src="/home/100113/Desktop/blood.gif" width="300" height="300">
</div>

  
</body>
 </div>
 <div class="panel-footer text-center ">
    <h2>Copyright &copy; bambeeq.com </h2>
  </div>

</html>
  
