<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/test.css">
<!--       <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"> -->
<!--       <link rel="stylesheet" href="/js/bootstrap-responsive.min.js"> -->
<!--       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->

  </head>
 <body>
    <div class="page-header">
       <h1>BAMBEEQ SOFTWARE SOLUTION</h1>
    </div>  

  <div class="container">
  
    <div class="row">
     <div class="col-xs-8">
        <h1>ABOUT</h1>
     </div>
     <div class="col-xs-4">
       <ul class="nav nav-tabs">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="about.html">About</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
   </div>
     <hr>
  
  <div class="row">
    <div class="col-sm-6">
 
    <img src="/home/e100113/training/vj.jpg"  class="img-rounded" width="200" height="200">
    </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
 
        <p>
        hi this is vijay , am working as a trainee in BambeeQ software solution</p><p>
        BambeeQ provides Software development and Server Infrastructure Management services </p><p>with the offshore development center located in Chennai, India. 
        </p>
      </div>
     </div> 
</div> 
  <div class="panel-footer">
    <h2>Copyright &copy; bambeeq.com </h2>
  </div>
</body>
</html>
